@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap'); html {
    scroll-behavior: smooth;
}

h1, h2, p, section, header, main, footer {
    margin: 0;
    padding: 0;
}

body{
    max-width: 1200px;
    align-self: center;
}

ul, ol {
    list-style: none;
    text-decoration: none;
}

header nav {
    font-family: 'Patua One', cursive;
    display: flex;
    align-content: center;
    justify-content: center;
    background: #0c59cf;
    font-size: 2rem;
    margin-top: -8px;
    margin-right: -8px;
    max-width: 1290px;
}

.navbar-brand {
    font-size: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

header section {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    min-height: 500px;
    max-width: 1290px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Patua One', cursive;
    font-size: 60px;
    background-color: none;
}

header section a {
    font-family: 'Patua One', cursive;
    text-decoration: none;
    color: white;
    font-size: 40px;
}

header section h1 {
    font-size: 80px;
}

span {
    color: #0c59cf;
}

.aboutus {
    font-family: 'Patua One', cursive;
    position: relative;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -.6px;
    color: #000;
}

.aboutus :after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 200px;
    height: 3px;
    background: #0c59cf;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.service {
    max-width: 1000px;
    margin: 0 auto 40px;
    text-align: center;
    justify-content: center;
    font-size: 28px;
}

@media (max-width: 480px) {
    .service {
        font-size: 22px;
    }
}

@media screen and (max-width: 1170px) {
    .aboutus {
        font-size: 40px;
    }
}

.fiature {
    display: flex;
    margin: 50px 0;
}

.fiature__item {
    width: 25%;
    text-align: center;
    padding: 0 10px;
}

.fiature__icon {
    margin-bottom: 25px;
}

.fiature__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.fiature__text {
    font-size: 19px;
    line-height: 1.5;
}

@media (max-width: 480px) {
    .fiature {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .fiature__item {
        width: 100%;
    }
}

@media (min-width: 540px) {
    .fiature__item {
        width: 100%;
    }
}

h5 {
    font-weight: 700;
    font-size: 29px;
    text-transform: uppercase;
}

.imgqueen {
    max-height: 300px;
    max-width: 300px;
    margin-left: 10px;
}

@media (max-width: 480px) {
    .imgqueen {
        margin-left: 0;
    }
}

.imgprice {
    min-height: 400px;
    max-width: 600px;
}

footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One', cursive;
}

.wraper {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
}

.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background-color: #0c59cf;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields, .msg {
    width: 48%;
}

.input-fields .input, .smg textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.smg textarea {
    height: 186px;
}

.btn {
    background: white;
    color: #0c59cf;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .contact-form {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .input-fields {
        width: 100%;
    }
}

.gotobtn {
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    font-size: 40px;
    justify-content: left;
    text-align: center;
    position: fixed;
    align-items: center;
    background: #0c59cf;
    color: white;
    border-radius: 50px;
    display: block;
}

.clock-box {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    font-size: 60px;
    color: #0c59cf;
}
